name: Lint GitHub Actions Workflows

on:
    pull_request:
        paths:
            - '.github/workflows/**'
    push:
        branches:
            - master
        paths:
            - '.github/workflows/**'

permissions:
    contents: read

jobs:
    actionlint:
        name: Lint Workflows
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout code
                uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

            -   name: Download actionlint
                id: get_actionlint
                run: |
                    bash <(curl https://raw.githubusercontent.com/rhysd/actionlint/main/scripts/download-actionlint.bash)
                    echo "actionlint_path=${PWD}/actionlint" >> "$GITHUB_OUTPUT"

            -   name: Run actionlint
                run: ${{ steps.get_actionlint.outputs.actionlint_path }} -color
