name: Tests

on:
    pull_request:
        branches:
            - master
    push:
        branches:
            - master

permissions:
    contents: read

jobs:
    test:
        name: Test & Build
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout code
                uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

            -   name: Setup Node.js
                uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
                with:
                    node-version: "20.x"

            -   name: Install dependencies
                run: npm install

            -   name: Run type check
                run: npm run typecheck

            -   name: Run linter
                run: npm run lint

            -   name: Run unit tests
                run: npm run test:run

            -   name: Run build test
                run: npm run test:run test/build.test.ts
