name: Tests

on:
    pull_request:
        branches:
            - master
    push:
        branches:
            - master

permissions:
    contents: read

jobs:
    test:
        name: Test & Build
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout code
                uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

            -   name: Setup Bun
                uses: oven-sh/setup-bun@4bc047ad259df6fc24a6c9b0f9a0cb08cf17fbe5 # v2.0.1
                with:
                    bun-version: latest

            -   name: Install dependencies
                run: bun install --frozen-lockfile

            -   name: Run type check
                run: bun run typecheck

            -   name: Run linter
                run: bun run check

            -   name: Run unit tests
                run: bun run test:run

            -   name: Run build test
                run: bun run test:run test/build.test.ts
