name: Code Coverage

on:
    push:
        branches:
            - master
    pull_request:

permissions:
    contents: read

jobs:
    coverage:
        name: Upload Coverage
        runs-on: ubuntu-latest

        steps:
            -   name: Harden Runner
                uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
                with:
                    disable-sudo: true
                    egress-policy: audit

            -   name: Checkout code
                uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

            -   name: Setup Node.js
                uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
                with:
                    node-version: "24"

            -   name: Install dependencies
                run: npm install --ignore-scripts

            -   name: Run tests with coverage
                run: npm run test:coverage

            -   name: Upload coverage to Codecov
                uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
                with:
                    files: ./coverage/coverage-final.json
                    fail_ci_if_error: false
                    verbose: true
