name: Code Coverage

on:
    push:
        branches:
            - master
    pull_request:

permissions:
    contents: read

jobs:
    coverage:
        name: Upload Coverage
        runs-on: ubuntu-latest

        steps:
            -   name: Harden Runner
                uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
                with:
                    disable-sudo: true
                    egress-policy: audit

            -   name: Checkout code
                uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

            -   name: Setup Node.js
                uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
                with:
                    node-version: "24"

            -   name: Install dependencies
                run: npm install --ignore-scripts

            -   name: Run tests with coverage
                run: npm run test:coverage

            -   name: Upload coverage to Codecov
                uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
                with:
                    files: ./coverage/coverage-final.json
                    fail_ci_if_error: false
                    verbose: true
