name: Code Coverage

on:
    push:
        branches:
            - master
    pull_request:

permissions:
    contents: read

jobs:
    coverage:
        name: Upload Coverage
        runs-on: ubuntu-latest

        steps:
            -   name: Harden Runner
                uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
                with:
                    disable-sudo: true
                    egress-policy: audit

            -   name: Setup Node.js and install dependencies
                uses: ./.github/actions/setup-node-and-install
                with:
                    node-version: "24"
                    skip-install-scripts: "true"

            -   name: Run tests with coverage
                run: npm run test:coverage

            -   name: Upload coverage to Codecov
                uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
                with:
                    files: ./coverage/coverage-final.json
                    fail_ci_if_error: false
                    verbose: true
