name: Lint Commit Messages

on:
    pull_request:
        types: [opened, synchronize, reopened, ready_for_review]
    push:
        branches:
            - master
            - main

permissions:
    contents: read
    pull-requests: read

jobs:
    commitlint:
        name: Commitlint
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout code
                uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
                with:
                    fetch-depth: 0

            -   name: Setup Node.js
                uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
                with:
                    node-version: '20'

            -   name: Install commitlint
                run: npm install --save-dev @commitlint/cli @commitlint/config-conventional

            -   name: Validate current commit (push)
                if: github.event_name == 'push'
                run: npx commitlint --from HEAD~1 --to HEAD --verbose

            -   name: Validate PR commits (pull_request)
                if: github.event_name == 'pull_request'
                run: npx commitlint --from ${{ github.event.pull_request.base.sha }} --to ${{ github.event.pull_request.head.sha }} --verbose
