name: Labeler

on:
    pull_request:
        types: [opened, reopened, synchronize]
    issues:
        types: [opened, reopened]

permissions:
    contents: read
    issues: write
    pull-requests: write

jobs:
    labeler:
        name: Apply Labels
        runs-on: ubuntu-latest
        steps:
            -   name: Apply labels
                uses: srvaroa/labeler@bf262763a8a8e191f5847873aecc0f29df84f957 # v1.14.0
                env:
                    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
