name: Lint Markdown Files

on:
    pull_request:
        paths:
            - '**.md'
    push:
        branches:
            - master
        paths:
            - '**.md'

permissions:
    contents: read

jobs:
    markdownlint:
        name: Lint Markdown
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout code
                uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

            -   name: Setup Node.js
                uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
                with:
                    node-version: "24"

            -   name: Install dependencies
                run: npm install --ignore-scripts

            -   name: Run markdownlint
                run: npm run lint:md
