name: Lint Markdown Files

on:
    pull_request:
        paths:
            - '**.md'
    push:
        branches:
            - master
        paths:
            - '**.md'

permissions:
    contents: read

jobs:
    markdownlint:
        name: Lint Markdown
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout code
                uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

            -   name: Setup Node.js
                uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
                with:
                    node-version: "24"

            -   name: Install dependencies
                run: npm install --ignore-scripts

            -   name: Run markdownlint
                run: npm run lint:md
