name: Publish
on:
    workflow_dispatch:
    push:
        tags:
            - "v[0-9]+.[0-9]+.[0-9]+"

jobs:
    publish-to-npm:
        runs-on: ubuntu-latest

        permissions:
            contents: read
            id-token: write

        steps:
            - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

            - uses: actions/setup-node@39370e3970a6d050c480ffad4ff0ed4d3fdee5af # v4.1.0
              with:
                  node-version: "20.x"
                  registry-url: "https://registry.npmjs.org"

            - uses: oven-sh/setup-bun@4bc047ad259df6fc24a6c9b0f9a0cb08cf17fbe5 # v2.0.1

            - run: bun install

            - run: npm publish --provenance --access public
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

    publish-to-jsr:
        needs: publish-to-npm

        runs-on: ubuntu-latest

        permissions:
            contents: read
            id-token: write

        steps:
            - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

            - name: Install deno
              uses: denoland/setup-deno@be0a6a1c12850f58f0c99d5a4b7f62bb24be0669 # v2.1.0
              with:
                  deno-version: v2.x

            - name: Install dependencies
              run: deno install --no-lock --allow-scripts

            - name: Publish package
              run: deno publish
