name: SBOM Generation

on:
    push:
        branches:
            - master
    pull_request:
    release:
        types:
            - published

permissions:
    contents: read

jobs:
    sbom:
        name: Generate SBOM
        runs-on: ubuntu-latest
        permissions:
            contents: write

        steps:
            -   name: Harden Runner
                uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
                with:
                    disable-sudo: true
                    egress-policy: audit

            -   name: Checkout code
                uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

            -   name: Generate SBOM
                uses: anchore/sbom-action@fbfd9c6c189226748411491745178e0c2017392d # v0
                with:
                    format: 'spdx-json'
                    output-file: 'sbom.spdx.json'

            -   name: Upload SBOM artifact
                uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
                with:
                    name: sbom
                    path: sbom.spdx.json
                    retention-days: 90
