name: SBOM Generation

on:
    push:
        branches:
            - master
    pull_request:
    release:
        types:
            - published

permissions:
    contents: read

jobs:
    sbom:
        name: Generate SBOM
        runs-on: ubuntu-latest
        permissions:
            contents: write

        steps:
            -   name: Harden Runner
                uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
                with:
                    disable-sudo: true
                    egress-policy: audit

            -   name: Checkout code
                uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

            -   name: Generate SBOM
                uses: anchore/sbom-action@fbfd9c6c189226748411491745178e0c2017392d # v0
                with:
                    format: 'spdx-json'
                    output-file: 'sbom.spdx.json'

            -   name: Upload SBOM artifact
                uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
                with:
                    name: sbom
                    path: sbom.spdx.json
                    retention-days: 90
