name: OpenSSF Scorecard

on:
    branch_protection_rule:
    schedule:
        # Run weekly on Saturdays at 00:00 UTC
        -   cron: '0 0 * * 6'
    push:
        branches:
            - master

permissions: read-all

jobs:
    analysis:
        name: Scorecard Analysis
        runs-on: ubuntu-latest
        permissions:
            security-events: write
            id-token: write
            contents: read
            actions: read

        steps:
            -   name: Harden Runner
                uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
                with:
                    disable-sudo: true
                    egress-policy: audit

            -   name: Checkout code
                uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
                with:
                    persist-credentials: false

            -   name: Run OpenSSF Scorecard
                uses: ossf/scorecard-action@4eaacf0543bb3f2c246792bd56e8cdeffafb205a # v2.4.3
                with:
                    results_file: results.sarif
                    results_format: sarif
                    publish_results: true

            -   name: Upload SARIF results
                uses: github/codeql-action/upload-sarif@19b2f06db2b6f5108140aeb04014ef02b648f789 # v4.31.11
                with:
                    sarif_file: results.sarif
