name: Validate Commits

on:
    pull_request:
        types: [opened, synchronize, reopened, ready_for_review]
    push:
        branches:
            - master
            - main

permissions:
    contents: read
    pull-requests: read

jobs:
    validate-commit-messages:
        name: Validate Commit Messages
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout code
                uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
                with:
                    fetch-depth: 0

            -   name: Setup Node.js
                uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
                with:
                    node-version: '24'

            -   name: Install commitlint
                run: npm install --ignore-scripts --save-dev @commitlint/cli @commitlint/config-conventional

            -   name: Validate current commit (push)
                if: github.event_name == 'push'
                run: npx commitlint --from HEAD~1 --to HEAD --verbose

            -   name: Validate PR commits (pull_request)
                if: github.event_name == 'pull_request'
                run: npx commitlint --from ${{ github.event.pull_request.base.sha }} --to ${{ github.event.pull_request.head.sha }} --verbose
